In [2]:
import dataset
import tfidf
import pandas as pd

In [9]:
last_date = df["date"][len(df) - 1]
last_date

'2017-02-19'

In [10]:
number_of_file = 100
df = dataset.get_labeled_dataset(number_of_file=number_of_file, from_date=last_date, date_included=False)
df.head()

Number of files loaded :  100

,text,label,date,score,nb_replies,stickied
0,u/PeteDaKat you haven't even entered the rabbi...,1,2017-02-21,1,0,False
1,Who?,1,2017-02-22,0,0,False
2,Censorship resistance has infinite value. He's...,1,2017-02-27,68,4,False
3,There is a lot of misconception as to what Eth...,1,2017-02-27,15,1,False
4,Try to see past the hype and check out its rel...,1,2017-02-27,2,2,False

In [ ]:
df = tfidf.get_tfidf_words(df, 100)

11964/11964

In [6]:
df.to_csv("data_tfdif_1.csv")