In [1]:
import dataset

In [2]:
df = dataset.get_date_labeled_dataset(from_date = "2018-10-01", to_date="2019-01-01", binary=False)
print(len(df))
df.head()

92

   label  year  month  day  label_m1  label_m2
0      3  2018     12   31         3         3
1      3  2018     12   31         3         3
2      3  2018     12   31         3         3
3      3  2018     12   31         3         3
4      3  2018     12   31         3         3

0.78839590443686