In [4]:
import dataset
import tfidf
import pandas as pd

In [5]:
number_of_file = 10
df = dataset.get_labeled_dataset(number_of_file=number_of_file, from_date="2017-12-16", all_files=True)
df.head()

Number of files loaded :  668

,text,label,date,score,nb_replies,stickied
0,Recent comment by him with regards to Gavin An...,1,2015-12-15,98,3,False
1,I'm glad your trolling has come to an end,1,2015-12-15,-47,1,False
2,r/bitcoinall is great,1,2015-12-15,7,0,False
3,/r/bitcoinxt ftw!,1,2015-12-15,17,1,False
4,> their passion is financially incentivised.\r...,1,2015-12-15,8,0,False

In [ ]:
df = tfidf.get_tfidf_words(df, 100)

116484/116484

In [7]:
df.to_csv("data_tfdif.csv")