In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

In [2]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'

In [3]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [4]:
bagOfWordsA

['the', 'man', 'went', 'out', 'for', 'a', 'walk']

In [5]:
bagOfWordsB

['the', 'children', 'sat', 'around', 'the', 'fire']

In [6]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'a',
 'around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went'}

In [7]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
numOfWordsA

{'around': 0,
 'went': 0,
 'children': 0,
 'walk': 0,
 'man': 0,
 'a': 0,
 'fire': 0,
 'the': 0,
 'sat': 0,
 'out': 0,
 'for': 0}

In [8]:
for word in bagOfWordsA:
    numOfWordsA[word] += 1

In [9]:
numOfWordsA

{'around': 0,
 'went': 1,
 'children': 0,
 'walk': 1,
 'man': 1,
 'a': 1,
 'fire': 0,
 'the': 1,
 'sat': 0,
 'out': 1,
 'for': 1}

In [10]:
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1
    
numOfWordsB

{'around': 1,
 'went': 0,
 'children': 1,
 'walk': 0,
 'man': 0,
 'a': 0,
 'fire': 1,
 'the': 2,
 'sat': 1,
 'out': 0,
 'for': 0}

In [11]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

### Term Frequency (TF)

In [12]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [13]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [14]:
tfA

{'around': 0.0,
 'went': 0.14285714285714285,
 'children': 0.0,
 'walk': 0.14285714285714285,
 'man': 0.14285714285714285,
 'a': 0.14285714285714285,
 'fire': 0.0,
 'the': 0.14285714285714285,
 'sat': 0.0,
 'out': 0.14285714285714285,
 'for': 0.14285714285714285}

In [15]:
tfB

{'around': 0.16666666666666666,
 'went': 0.0,
 'children': 0.16666666666666666,
 'walk': 0.0,
 'man': 0.0,
 'a': 0.0,
 'fire': 0.16666666666666666,
 'the': 0.3333333333333333,
 'sat': 0.16666666666666666,
 'out': 0.0,
 'for': 0.0}

### Inverse Data Frequency (IDF)

In [16]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [17]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'around': 0.6931471805599453,
 'went': 0.6931471805599453,
 'children': 0.6931471805599453,
 'walk': 0.6931471805599453,
 'man': 0.6931471805599453,
 'a': 0.6931471805599453,
 'fire': 0.6931471805599453,
 'the': 0.0,
 'sat': 0.6931471805599453,
 'out': 0.6931471805599453,
 'for': 0.6931471805599453}

### TF-IDF is simply the TF multiplied by IDF

In [18]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [19]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)

In [20]:
tfidfA

{'around': 0.0,
 'went': 0.09902102579427789,
 'children': 0.0,
 'walk': 0.09902102579427789,
 'man': 0.09902102579427789,
 'a': 0.09902102579427789,
 'fire': 0.0,
 'the': 0.0,
 'sat': 0.0,
 'out': 0.09902102579427789,
 'for': 0.09902102579427789}

In [21]:
tfidfB

{'around': 0.11552453009332421,
 'went': 0.0,
 'children': 0.11552453009332421,
 'walk': 0.0,
 'man': 0.0,
 'a': 0.0,
 'fire': 0.11552453009332421,
 'the': 0.0,
 'sat': 0.11552453009332421,
 'out': 0.0,
 'for': 0.0}

In [22]:
df = pd.DataFrame([tfidfA, tfidfB])
df

,a,around,children,fire,for,man,out,sat,the,walk,went
0,0.099021,0.000000,0.000000,0.000000,0.099021,0.099021,0.099021,0.000000,0.0,0.099021,0.099021
1,0.000000,0.115525,0.115525,0.115525,0.000000,0.000000,0.000000,0.115525,0.0,0.000000,0.000000

In [23]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
vectors[0,0]

0.0

In [24]:
vectors[0,3]

0.42615959880289433

In [25]:
feature_names = vectorizer.get_feature_names()
feature_names

['around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went']

In [26]:
dense = vectors.todense()
dense

matrix([[0.        , 0.        , 0.        , 0.4261596 , 0.4261596 ,
         0.4261596 , 0.        , 0.30321606, 0.4261596 , 0.4261596 ],
        [0.40740124, 0.40740124, 0.40740124, 0.        , 0.        ,
         0.        , 0.40740124, 0.57973867, 0.        , 0.        ]])

In [27]:
denselist = dense.tolist()
denselist

[[0.0,
  0.0,
  0.0,
  0.42615959880289433,
  0.42615959880289433,
  0.42615959880289433,
  0.0,
  0.3032160644503863,
  0.42615959880289433,
  0.42615959880289433],
 [0.40740123733358447,
  0.40740123733358447,
  0.40740123733358447,
  0.0,
  0.0,
  0.0,
  0.40740123733358447,
  0.5797386715376657,
  0.0,
  0.0]]

In [31]:
df = pd.DataFrame(denselist, columns=feature_names)
df

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [ ]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'